<style>
#custom-dns-current td.long {
  word-break: break-all;
}
</style>

<h2>Пользовательские DNS-записи</h2>

<p class="text-warning">This is an advanced configuration page.</p>

<p>Для доменов, размещённых на этом сервере, можно задавать пользовательские DNS-записи.</p>

<h3>Настроить пользовательские DNS-записи</h3>

<p>Можно добавить дополнительные DNS-записи: например, для сайта на другом сервере, DKIM-записи внешних почтовых провайдеров или проверок владения доменом.</p>

<form class="form-horizontal" role="form" onsubmit="do_set_custom_dns(); return false;">
  <div class="form-group">
    <label for="customdnsQname" class="col-sm-1 control-label">Имя</label>
    <div class="col-sm-10">
      <table style="max-width: 400px">
      <tr><td>
        <input type="text" class="form-control" id="customdnsQname" placeholder="поддомен">
      </td><td style="padding: 0 1em; font-weight: bold;">.</td><td>
        <select id="customdnsZone" class="form-control"> </select>
      </td></tr></table>
      <div class="text-info" style="margin-top: .5em">Leave the left field blank to set a record on the chosen domain name, or enter a subdomain.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="customdnsType" class="col-sm-1 control-label">Тип</label>
    <div class="col-sm-10">
      <select id="customdnsType" class="form-control" style="max-width: 400px" onchange="show_customdns_rtype_hint()">
        <option value="A" data-hint="Введите IPv4-адрес, например 123.456.789.012. Алиас 'local' установит запись в публичный IPv4-адрес этого сервера.">A (IPv4-адрес)</option>
        <option value="AAAA" data-hint="Введите IPv6-адрес. Алиас 'local' установит запись в публичный IPv6-адрес этого сервера.">AAAA (IPv6-адрес)</option>
        <option value="CAA" data-hint="Введите центр сертификации, которому разрешено выпускать сертификаты для этого домена, в формате FLAG TAG VALUE. Например: 0 issuewild &quot;letsencrypt.org&quot;.">CAA (авторизация центров сертификации)</option>
        <option value="CNAME" data-hint="Введите другое доменное имя с точкой в конце, например mypage.github.io.">CNAME (DNS-перенаправление)</option>
        <option value="TXT" data-hint="Введите произвольный текст.">TXT (текстовая запись)</option>
        <option value="MX" data-hint="Введите запись в формате PRIORITY DOMAIN. с точкой в конце, например 20 mx.example.com.">MX (почтовый обменник)</option>
        <option value="SRV" data-hint="Введите запись в формате PRIORITY WEIGHT PORT TARGET. с точкой в конце, например 10 10 5060 sip.example.com.">SRV (служебная запись)</option>
        <option value="SSHFP" data-hint="Введите запись в формате ALGORITHM TYPE FINGERPRINT.">SSHFP (отпечаток SSH)</option>
        <option value="NS" data-hint="Введите hostname, которому нужно делегировать этот поддомен.">NS (делегирование DNS-поддомена)</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="customdnsValue" class="col-sm-1 control-label">Значение</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="customdnsValue" placeholder="">
      <div id="customdnsTypeHint" class="text-info" style="margin-top: .5em"></div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <button type="submit" class="btn btn-primary">Сохранить запись</button>
    </div>
  </div>
</form>

<div style="text-align: right; font-size; 90%; margin-top: 1em;">
  sort by:
  <a href="#" onclick="window.miab_custom_dns_data_sort_order='qname'; show_current_custom_dns_update_after_sort(); return false;">domain name</a>
  |
  <a href="#" onclick="window.miab_custom_dns_data_sort_order='created'; show_current_custom_dns_update_after_sort(); return false;">created</a>
</div>
<table id="custom-dns-current" class="table" style="width: auto; display: none; margin-top: 0;">
  <thead><tr>
    <th scope="col"> Domain Name</th>
    <th scope="col"> Record Type</th>
    <th scope="col"> Value</th>
    <th scope="col" aria-label="Действия"></th>
  </tr></thead>
  <tbody>
    <tr><td colspan="4">Loading...</td></tr>
  </tbody>
</table>

<h3>Использование вторичного DNS-сервера</h3>

<p>Если доменная зона требует два отдельных DNS-сервера, можно либо настроить <a href="#external_dns">внешний DNS</a> и полностью игнорировать DNS-сервер этого Mail-in-a-Box, либо использовать DNS-сервер на этом сервере и добавить вторичный DNS-сервер.</p>
<p>Если вы используете вторичный DNS-сервер, нужно выбрать провайдера такой услуги. Её может предоставлять регистратор домена или облачный провайдер. После настройки укажите ниже hostname вторичного DNS-сервера провайдера, а не его IP-адрес.</p>

<form class="form-horizontal" role="form" onsubmit="do_set_secondary_dns(); return false;">
  <div class="form-group">
    <label for="secondarydnsHostname" class="col-sm-1 control-label">Hostname</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="secondarydnsHostname" placeholder="ns1.cloudprovider.com">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <button type="submit" class="btn btn-primary">Обновить</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-11">
      <p class="small">
        Multiple secondary servers can be separated with commas or spaces (i.e., <code>ns2.hostingcompany.com ns3.hostingcompany.com</code>).
        To enable zone transfers to additional servers without listing them as secondary nameservers, prefix a hostname, IP address, or subnet with <code>xfr:</code>, e.g. <code>xfr:10.20.30.40</code> or <code>xfr:10.0.0.0/8</code>.
      </p>
      <p id="secondarydns-clear-instructions" style="display: none" class="small">
        Очистите поле выше и нажмите «Обновить», чтобы использовать сам этот сервер как вторичный DNS. Это стандартная настройка по умолчанию.
      </p>
    </div>
  </div>
</form>


<h3>API пользовательских DNS-записей</h3>

<p>Используйте DNS API этого сервера для настройки пользовательских DNS-записей доменов, размещённых здесь. Например, так можно создать собственный сервис динамического DNS.</p>

<p>Использование:</p>

<pre>curl -X <b>VERB</b> [-d "<b>value</b>"] --user {email}:{password} https://{{hostname}}/admin/dns/custom[/<b>qname</b>[/<b>rtype</b>]]</pre>

<p>Квадратные скобки обозначают необязательный аргумент.</p>

<h4>Команды</h4>

<table class="table">
<thead><tr
<th scope="col"> Метод</th> <th scope="col"> Использование</th>
</tr></thead>
<tr><td>GET</td> <td>Returns matching custom DNS records as a JSON array of objects. Each object has the keys <code>qname</code>, <code>rtype</code>, and <code>value</code>. The optional <code>qname</code> and <code>rtype</code> parameters in the request URL filter the records returned in the response. The request body (<code>-d "..."</code>) must be omitted.</td></tr>
<tr><td>PUT</td> <td>Sets a custom DNS record replacing any existing records with the same <code>qname</code> and <code>rtype</code>. Use PUT (instead of POST) when you only have one value for a <code>qname</code> and <code>rtype</code>, such as typical <code>A</code> records (without round-robin).</td></tr>
<tr><td>POST</td> <td>Adds a new custom DNS record. Use POST when you have multiple <code>TXT</code> records or round-robin <code>A</code> records. (PUT would delete previously added records.)</td></tr>
<tr><td>DELETE</td> <td>Deletes custom DNS records. If the request body (<code>-d "..."</code>) is empty or omitted, deletes all records matching the <code>qname</code> and <code>rtype</code>. If the request body is present, deletes only the record matching the <code>qname</code>, <code>rtype</code> and value.</td></tr>
</table>

<h4>Параметры</h4>

<table class="table">
<thead><tr>
<th scope="col"> Parameter</th> <th scope="col"> Value</th>
</tr></thead>
<tr><td>email</td> <td>The email address of any administrative user here.</td></tr>
<tr><td>password</td> <td>That user&rsquo;s password.</td></tr>
<tr><td>qname</td> <td>The fully qualified domain name for the record you are trying to set. It must be one of the domain names or a subdomain of one of the domain names hosted on this box. (Add mail users or aliases to add new domains.)</td></tr>
<tr><td>rtype</td> <td>The resource type. Defaults to <code>A</code> if omitted. Possible values: <code>A</code> (an IPv4 address), <code>AAAA</code> (an IPv6 address), <code>TXT</code> (a text string), <code>CNAME</code> (an alias, which is a fully qualified domain name &mdash; don&rsquo;t forget the final period), <code>MX</code>, <code>SRV</code>, <code>SSHFP</code>, <code>CAA</code> or <code>NS</code>.</td></tr>
<tr><td>value</td> <td>For PUT, POST, and DELETE, the record&rsquo;s value. If the <code>rtype</code> is <code>A</code> or <code>AAAA</code> and <code>value</code> is empty or omitted, the IPv4 or IPv6 address of the remote host is used (be sure to use the <code>-4</code> or <code>-6</code> options to curl). This is handy for dynamic DNS!</td></tr>
</table>

<p>Строгие записи <a href="http://tools.ietf.org/html/rfc4408">SPF</a> и <a href="https://datatracker.ietf.org/doc/draft-kucherawy-dmarc-base/?include_text=1">DMARC</a> будут добавлены ко всем пользовательским доменам, если вы не переопределите их вручную.</p>

<h4>Примеры:</h4>

<p>Попробуйте эти примеры. Для простоты в них не указан аргумент <code>--user me@mydomain.com:yourpassword</code>; его нужно заполнить вашим email-адресом и паролем.</p>

<pre># sets laptop.mydomain.com to point to the IP address of the machine you are executing curl on
curl -X PUT https://{{hostname}}/admin/dns/custom/laptop.mydomain.com

# deletes that record and all A records for that domain name
curl -X DELETE https://{{hostname}}/admin/dns/custom/laptop.mydomain.com

# sets a CNAME alias
curl -X PUT -d "bar.mydomain.com." https://{{hostname}}/admin/dns/custom/foo.mydomain.com/cname

# deletes that CNAME and all CNAME records for that domain name
curl -X DELETE https://{{hostname}}/admin/dns/custom/foo.mydomain.com/cname

# adds a TXT record using POST to preserve any previous TXT records
curl -X POST -d "some text here" https://{{hostname}}/admin/dns/custom/foo.mydomain.com/txt

# deletes that one TXT record while preserving other TXT records
curl -X DELETE -d "some text here" https://{{hostname}}/admin/dns/custom/foo.mydomain.com/txt
</pre>

<script>
function show_custom_dns() {
  api(
    "/dns/secondary-nameserver",
    "GET",
    { },
    function(data) {
      $('#secondarydnsHostname').val(data.hostnames.join(' '));
      $('#secondarydns-clear-instructions').toggle(data.hostnames.length > 0);
    });

  api(
    "/dns/zones",
    "GET",
    { },
    function(data) {
      $('#customdnsZone').text('');
      for (var i = 0; i < data.length; i++) {
        $('#customdnsZone').append($('<option/>').text(data[i]));
      }
    });

  show_current_custom_dns();
  show_customdns_rtype_hint();
}

function show_current_custom_dns() {
  api(
    "/dns/custom",
    "GET",
    { },
    function(data) {
      if (data.length > 0)
        $('#custom-dns-current').fadeIn();
      else
        $('#custom-dns-current').fadeOut();
      window.miab_custom_dns_data = data;
      show_current_custom_dns_update_after_sort();
    });
}

function show_current_custom_dns_update_after_sort() {
      var data = window.miab_custom_dns_data;
      var sort_key = window.miab_custom_dns_data_sort_order || "qname";

      data.sort(function(a, b) { return a["sort-order"][sort_key] - b["sort-order"][sort_key] });

      var tbody = $('#custom-dns-current').find("tbody");
      tbody.text('');
      var last_zone = null;
      for (var i = 0; i < data.length; i++) {
        if (sort_key == "qname" && data[i].zone != last_zone) {
          var r = $("<tr><th role='heading' aria-level='4' colspan=4 style='background-color: #EEE'></th></tr>");
          r.find("th").text(data[i].zone);
          tbody.append(r);
          last_zone = data[i].zone;
        }

        var tr = $("<tr/>");
        tbody.append(tr);
        tr.attr('data-qname', data[i].qname);
        tr.attr('data-rtype', data[i].rtype);
        tr.attr('data-value', data[i].value);
        tr.append($('<td class="long"/>').text(data[i].qname));
        tr.append($('<td/>').text(data[i].rtype));
        tr.append($('<td class="long" style="max-width: 40em"/>').text(data[i].value));
        tr.append($('<td>[<a href="#" onclick="return delete_custom_dns_record(this)">delete</a>]</td>'));
      }
}

function delete_custom_dns_record(elem) {
  var qname = $(elem).parents('tr').attr('data-qname');
  var rtype = $(elem).parents('tr').attr('data-rtype');
  var value = $(elem).parents('tr').attr('data-value');
  do_set_custom_dns(qname, rtype, value, "DELETE");
  return false;
}

function do_set_secondary_dns() {
 api(
    "/dns/secondary-nameserver",
    "POST",
    {
      hostnames: $('#secondarydnsHostname').val()
    },
    function(data) {
      if (data == "") return; // nothing updated
      show_modal_error("Вторичный DNS", $("<pre/>").text(data));
      $('#secondarydns-clear-instructions').slideDown();
    },
    function(err) {
      show_modal_error("Вторичный DNS", $("<pre/>").text(err));
    });
}

function do_set_custom_dns(qname, rtype, value, method) {
  if (!qname) {
    if ($('#customdnsQname').val() != '')
      qname = $('#customdnsQname').val() + '.' + $('#customdnsZone').val();
    else
      qname = $('#customdnsZone').val();
    rtype = $('#customdnsType').val();
    value = $('#customdnsValue').val();
    method = 'POST';
  }

  api(
    "/dns/custom/" + qname + "/" + rtype,
    method,
    value,
    function(data) {
      if (data == "") return; // nothing updated
      show_modal_error("Пользовательские DNS-записи", $("<pre/>").text(data));
      show_current_custom_dns();
    },
    function(err) {
      show_modal_error("Пользовательские DNS-записи — ошибка", $("<pre/>").text(err));
    });
}

function show_customdns_rtype_hint() {
  $('#customdnsTypeHint').text($("#customdnsType").find('option:selected').attr('data-hint'));
}
</script>
