<style>
    .twofactor #totp-setup,
    .twofactor #disable-2fa,
    .twofactor #output-2fa {
        display: none;
    }

    .twofactor.loaded .loading-indicator {
        display: none;
    }

    .twofactor.disabled #disable-2fa,
    .twofactor.enabled #totp-setup {
        display: none;
    }

    .twofactor.disabled #totp-setup,
    .twofactor.enabled #disable-2fa {
        display: block;
    }

    .twofactor #totp-setup-qr img {
        display: block;
        width: 256px;
        max-width: 100%;
        height: auto;
    }

    .twofactor #output-2fa.visible {
        display: block;
    }
</style>

<h2>Двухфакторная аутентификация</h2>

<p>Когда двухфакторная аутентификация включена, при входе потребуется вводить шестизначный код из
authenticator app (usually on your phone) when you log into this control panel.</p>

<div class="panel panel-danger">
<div class="panel-heading">
Включение двухфакторной аутентификации не защищает доступ к вашей почте
</div>
<div class="panel-body">
Включение двухфакторной аутентификации на этой странице ограничивает только доступ к панели управления. Помните, что большинство сайтов позволяют
reset your password by checking your email, so anyone with access to your email can typically take over
your other accounts. Additionally, if your email address or any alias that forwards to your email
address is a typical domain control validation address (e.g admin@, administrator@, postmaster@, hostmaster@,
webmaster@, abuse@), extra care should be taken to protect the account. <strong>Always use a strong password,
and ensure every administrator account for this control panel does the same.</strong>
</div>
</div>

<div class="twofactor">
    <div class="loading-indicator">Loading...</div>

    <form id="totp-setup">
        <h3>Инструкция по настройке</h3>

        <div class="form-group">
            <p>1. Установите <a href="https://freeotp.github.io/">FreeOTP</a> или <a href="https://www.pcworld.com/article/3225913/what-is-two-factor-authentication-and-which-2fa-apps-are-best.html">любое
            другое приложение двухфакторной аутентификации</a> с поддержкой TOTP.</p>
        </div>

        <div class="form-group">
            <p style="margin-bottom: 0">2. Отсканируйте QR-код в приложении или вручную введите секретный ключ:</p>
            <div id="totp-setup-qr"></div>
        </div>

        <div class="form-group">
            <label for="totp-setup-label" style="font-weight: normal">3. При желании задайте метку устройства, чтобы помнить, где настроена двухфакторная аутентификация:</label>
            <input type="text" id="totp-setup-label" class="form-control" placeholder="мой телефон" />
        </div>

        <div class="form-group">
            <label for="totp-setup-token" style="font-weight: normal">4. Сгенерируйте первый шестизначный код в приложении и введите его здесь:</label>
            <input type="text" id="totp-setup-token" class="form-control" placeholder="6-значный код" />
        </div>

        <input type="hidden" id="totp-setup-secret" />

        <div class="form-group">
            <p>После нажатия «Включить двухфакторную аутентификацию» сеанс в панели управления будет завершён, и потребуется войти
            снова, уже с использованием приложения двухфакторной аутентификации.</p>
            <button id="totp-setup-submit" disabled type="submit" class="btn">Включить двухфакторную аутентификацию</button>
        </div>
    </form>

    <form id="disable-2fa">
        <div class="form-group">
            <p>Двухфакторная аутентификация активна для вашей учётной записи<span id="mfa-device-label"></span>.</p>
            <p>После отключения двухфакторной аутентификации потребуется снова войти в панель управления.</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Отключить двухфакторную аутентификацию</button>
        </div>
    </form>

    <div id="output-2fa" class="panel panel-danger">
        <div class="panel-body"></div>
    </div>
</div>

<script>
    var el = {
        disableForm: document.getElementById('disable-2fa'),
        output: document.getElementById('output-2fa'),
        totpSetupForm: document.getElementById('totp-setup'),
        totpSetupToken: document.getElementById('totp-setup-token'),
        totpSetupSecret: document.getElementById('totp-setup-secret'),
        totpSetupLabel: document.getElementById('totp-setup-label'),
        totpQr: document.getElementById('totp-setup-qr'),
        totpSetupSubmit: document.querySelector('#totp-setup-submit'),
        wrapper: document.querySelector('.twofactor')
    }

    function update_setup_disabled(evt) {
        var val = evt.target.value.trim();

        if (
            typeof val !== 'string' ||
            typeof el.totpSetupSecret.value !== 'string' ||
            val.length !== 6 ||
            el.totpSetupSecret.value.length !== 32 ||
            !(/^\+?\d+$/.test(val))
        ) {
            el.totpSetupSubmit.setAttribute('disabled', '');
        } else {
            el.totpSetupSubmit.removeAttribute('disabled');
        }
    }

    function render_totp_setup(provisioned_totp) {
        var img = document.createElement('img');
        img.src = "data:image/png;base64," + provisioned_totp.qr_code_base64;
        img.alt = "QR-код, отсканируйте его в приложении аутентификации"

        var code = document.createElement('div');
        code.innerHTML = `Секретный ключ: ${provisioned_totp.secret}`;

        el.totpQr.appendChild(img);
        el.totpQr.appendChild(code);

        el.totpSetupToken.addEventListener('input', update_setup_disabled);
        el.totpSetupForm.addEventListener('submit', do_enable_totp);

        el.totpSetupSecret.setAttribute('value', provisioned_totp.secret);

        el.wrapper.classList.add('disabled');
    }

    function render_disable(mfa) {
        el.disableForm.addEventListener('submit', do_disable);
        el.wrapper.classList.add('enabled');
        if (mfa.label)
          $("#mfa-device-label").text(" on device '" + mfa.label + "'");
    }

    function hide_error() {
        el.output.querySelector('.panel-body').innerHTML = '';
        el.output.classList.remove('visible');
    }

    function render_error(msg) {
        el.output.querySelector('.panel-body').innerHTML = msg;
        el.output.classList.add('visible');
    }

    function reset_view() {
        el.wrapper.classList.remove('loaded', 'disabled', 'enabled');

        el.disableForm.removeEventListener('submit', do_disable);

        hide_error();

        el.totpSetupForm.reset();
        el.totpSetupForm.removeEventListener('submit', do_enable_totp);

        el.totpSetupSecret.setAttribute('value', '');
        el.totpSetupToken.removeEventListener('input', update_setup_disabled);

        el.totpSetupSubmit.setAttribute('disabled', '');
        el.totpQr.innerHTML = '';
    }

    function show_mfa() {
        reset_view();

        api(
            '/mfa/status',
            'POST',
            {},
            function(res) {
                el.wrapper.classList.add('loaded');

                var has_mfa = false;
                res.enabled_mfa.forEach(function(mfa) {
                    if (mfa.type == "totp") {
                        render_disable(mfa);
                        has_mfa = true;
                    }
                });

                if (!has_mfa)
                  render_totp_setup(res.new_mfa.totp);
            }
        );
    }

    function do_disable(evt) {
        evt.preventDefault();
        hide_error();

        api(
            '/mfa/disable',
            'POST',
            { type: 'totp' },
            function() {
                do_logout();
            }
        );

        return false;
    }

    function do_enable_totp(evt) {
        evt.preventDefault();
        hide_error();

        api(
            '/mfa/totp/enable',
            'POST',
            {
                token: $(el.totpSetupToken).val(),
                secret: $(el.totpSetupSecret).val(),
                label: $(el.totpSetupLabel).val()
            },
            function(res) { do_logout(); },
            function(res) { render_error(res); }
        );

        return false;
    }
</script>
