<div>
	<h2>Синхронизация контактов и календаря</h2>

	<p>Этот сервер может хранить ваши контакты и календарь так же, как хранит вашу почту.</p>

	<hr>

	<div class="row">
		<div class="col-sm-6">
			<h4>В браузере</h4>

			<p>Контакты и календарь можно редактировать из веб-браузера.</p>

			<table class="table">
			<thead><tr><th scope="col">Для...</th> <th scope="col">Откройте этот URL</th></tr></thead>
			<tr><td>Контакты</td> <td><a href="https://{{hostname}}/cloud/contacts">https://{{hostname}}/cloud/contacts</a></td></tr>
			<tr><td>Календарь</td> <td><a href="https://{{hostname}}/cloud/calendar">https://{{hostname}}/cloud/calendar</a></td></tr>
			</table>

			<p>Параметры входа такие же, как для <a href="#mail-guide">почты</a>: полный email-адрес и пароль от почты.</p>
		</div>

		<div class="col-sm-6">
			<h4>На мобильном устройстве</h4>

			<p>Если вы настроили <a href="#mail-guide">почту</a> через Exchange/ActiveSync, контакты и календарь уже могут отображаться на устройстве.</p>
			<p>В противном случае приложение ниже может синхронизировать контакты и календарь с Android-телефоном.</p>

			<table class="table">
			<thead><tr><th scope="col">Google Play</th> <th scope="col">F-Droid</th></tr></thead>
			<tr><td><a href="https://play.google.com/store/apps/details?id=at.bitfire.davdroid">DAVx⁵</a> (платно)</td> <td><a href="https://f-droid.org/packages/at.bitfire.davdroid/">DAVx⁵</a> (бесплатно)</td></tr>
			</table>

			<p>Используйте следующие параметры:</p>

			<table class="table">
			<tr><td>Тип учётной записи</td> <td>CardDAV или CalDAV</td></tr>
			<tr><td>Имя сервера</td> <td>{{hostname}}</td></tr>
			<tr><td>Использовать SSL</td> <td>Да</td></tr>
			<tr><td>Имя пользователя</td> <td>Полный email-адрес.</td></tr>
			<tr><td>Пароль</td> <td>Пароль от почты.</td></tr>
			</table>
		</div>
	</div>
</div>
