<style>
</style>

<h2>Статический веб-хостинг</h2>

<p>Этот сервер обслуживает простой статический сайт по адресу <a href="https://{{hostname}}">https://{{hostname}}</a>, а также на всех доменах, для которых вы создали почтового пользователя или алиас.</p>

<h3>Загрузка файлов сайта</h3>

<p>Вы можете заменить сайт по умолчанию своими HTML-страницами и другими статическими файлами. Эта панель управления не помогает разрабатывать сайт, но когда у вас уже есть файлы <tt>.html</tt>, их можно загрузить по инструкции ниже:</p>

<ol>
<li>Убедитесь, что у доменов, для которых вы публикуете сайт, нет проблем на странице <a href="#system_status">Проверки состояния</a>.</li>

<li>На своём компьютере установите программу для передачи файлов по SSH, например <a href="https://filezilla-project.org/">FileZilla</a> или <a href="https://man.openbsd.org/scp.1">scp</a>.</li>

<li>Подключитесь к этому серверу через программу передачи файлов. Сервер: <strong>{{hostname}}</strong>, протокол: SSH или SFTP. Используйте <strong>SSH-учётные данные</strong>, которые применялись при создании сервера у облачного провайдера. Это <strong>не</strong> логин и пароль от почты или панели управления. Скорее всего, SSH-доступ использует файл приватного ключа.</li>

<li>Загрузите файлы <tt>.html</tt> или другие файлы в каталог <tt>{{storage_root}}/www/default</tt> на этом сервере. Они сразу станут доступны через веб.</li>

<li>Сайты, настроенные на этом сервере, перечислены в таблице ниже вместе с каталогами, куда нужно загружать файлы каждого сайта.</li>

<table id="web_domains_existing" class="table" style="margin-bottom: 1em; width: auto;">
        <thead>
                <tr>
                        <th scope="col">Сайт</th>
                        <th scope="col">Каталог файлов</th>
			<th scope="col" aria-label="Действия"/>
                </tr>
        </thead>
        <tbody>
        </tbody>
</table>

<p>Чтобы добавить домен в эту таблицу, сначала создайте для него технического <a href="#users">почтового пользователя</a> или <a href="#aliases">алиас</a>. Также смотрите <a href="https://mailinabox.email/guide.html#domain-name-configuration">руководство по настройке</a> о добавлении nameserver-записей для нового домена у регистратора, но <i>не</i> glue-записей.</p>

</ol>

<script>
function show_web() {
 api(
    "/web/domains",
    "GET",
    {
    },
    function(domains) {
	var tb = $('#web_domains_existing tbody');
	tb.text('');
	for (var i = 0; i < domains.length; i++) {
		if (!domains[i].static_enabled) continue;
		var row = $("<tr><th scope='colgroup' class='domain'><a href=''></a></th><td class='directory'><tt/></td> <td class='change-root hidden'><button class='btn btn-default btn-xs' onclick='show_change_web_root(this)'>Изменить</button></td></tr>");
		tb.append(row);
		row.attr('data-domain', domains[i].domain);
		row.attr('data-custom-web-root', domains[i].custom_root);
		row.find('.domain a').text('https://' + domains[i].domain);
		row.find('.domain a').attr('href', 'https://' + domains[i].domain);
		row.find('.directory tt').text(domains[i].root);
		if (domains[i].root != domains[i].custom_root)
			row.find('.change-root').removeClass('hidden');
	}

    });
}

function do_web_update() {
 api(
    "/web/update",
    "POST",
    {
    },
    function(data) {
      if (data == "")
        data = "Ничего не изменилось.";
      else
        data = $("<pre/>").text(data);
      show_modal_error("Обновление веб-настроек", data, function() { show_web() });
    });
}

function show_change_web_root(elem) {
  var domain = $(elem).parents('tr').attr('data-domain');
  var root = $(elem).parents('tr').attr('data-custom-web-root');
  show_modal_confirm(
    'Изменить корневой каталог для ' + domain,
    $('<p>Можно изменить статический каталог для <tt>' + domain + '</tt> на:</p> <p><tt>' + root + '</tt></p> <p>Сначала создайте этот каталог на сервере. Затем нажмите «Обновить», чтобы просканировать каталог и обновить веб-настройки.</p>'),
    'Обновить',
    function() { do_web_update(); });
}
</script>
